body {
    font-family: Arial, sans-serif;
    background-image: url(guess.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-image:linear-gradient(rgb(18, 20, 20),rgb(233, 243, 233),rgb(47, 48, 87));
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
  }
  
  h2 {
    color: #760d0d;
    text-align: center;
    margin-bottom: 10px;
  }
  
  p {
    color: #666;
    text-align: center;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover {
    background-color: #f069d7;
  }
  
  #msg {
    color: #f0f6f7;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  /* Styling for the congratulatory message */
  .congrats {
    color: #4caf50;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  